

.navbar>div>ul>li>a{
	color: #a77701;
}

#topo{
	background: #fcc316;
	color: white;
	
	
}

.borda{
	border: 1px solid white;
	border-radius: 15%;
}

body{
	background: #fffdff;
}

.borda2{
	border: 1px solid #585858;
	border-radius: 15%;
}



